@model Robots.OrchardCore.ViewModels.RobotsSettingsViewModel

<fieldset class="form-group">
    <label asp-for="Text">@T["Robots.txt"]</label>
    <textarea asp-for="Text" class="form-control" rows="10"></textarea>
</fieldset>
